.ellips14{
    position: absolute;
width: 587px;
height: 587px;
left: 782px;
top: -124px;
border-radius: 50%;

background: #726EFF;
}

.ellips15{
    position: absolute;
width: 587px;
height: 587px;
left: 489px;
top: -286px;
border-radius: 50%;

background: #726EFF;

}