/*
Css Reset Tamplate
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
masukkan css kalian di bawah ini (●'◡'●)
*/



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: linear-gradient(122.33deg, #726EFF 28.18%, #726EFF 28.19%, rgba(231, 230, 255, 0.171987) 119.95%, rgba(255, 255, 255, 0) 119.96%);
    background-size: cover;
    background-repeat: no-repeat;

  }
.container {
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 688px;
    margin: 0px auto;
    /* align-items: center; */
    padding-top: 100px;
    box-sizing: border-box;
}
.foto {
    position: absolute;
    width: 150px;
    height: 152px;
    border: 5px solid #726EFF;
    border-radius: 50%;
    top: -85px;
    left: 41.5%;

    overflow: hidden;
}

.foto img {
    width: 100%;
    height: 100%;
}

.isi {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 53px;
    padding-bottom: 20px;
    padding-top: 90px;
    position: relative;
    
    margin: auto;
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.edit{
    position: absolute;
    right: 27px;
    top: 27px;
}
.back{
    position: absolute;
    left: 27px;
    top: 27px;
}

.nama {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #726EFF;
}

.status {
    font-family: 'Inter', sans-serif;
    margin: 20px;
    font-size: 22px;
    line-height: 29px;
    flex-wrap: wrap;

}

.ditail {
    display: flex;
    justify-content: center;
    align-items:center ;
    gap: 30px;
    margin-top: 55px;
    margin-bottom: 90px;
}
.lokasi{
    display: flex;
}
.ditail .logo {
    content: url('https://api.iconify.design/material-symbols/location-on-outline-rounded.svg');
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.ditail .tempat {
    font-size: 32px;
    font-family: sans-serif;
}

/* .angka {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    line-height: 29px;
} */
.topic{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    line-height: 29px;
}
.ditail .banyak {
    font-size: 30px;
}
.topic p{
    font-weight: bold;
}

.cover {
    width: 400px;
    margin: 30px auto;
}

.apk {
    display: flex;
    justify-content: space-between;
}

.apk img {
    width: 60px;
    height: 60px;
}

@media (max-width:568px){
    body{
        overflow: hidden;
    }
    .container{
        width: auto;
        padding-top: 20px;
    }

    .back{
        scale: 0.5;
        top: 10px;
        left: 10px;
    }

    .edit{
        scale: 0.6;
        top: 10px;
        right: 15px;
    }

    .foto {
        width: 100px;
        height: 102px;
        top: -60px;
        left: 35.5%;    
    }

    .ditail {
        gap: 30px;
        margin-top: 15px;
        margin-bottom: 50px;
    }
}